# STAT 207 Lab Assignment 4 - Group Part - [5 total points]

## Team Class-Year Probability

Due: Tuesday, September 20, 11:59pm CST

<hr>

## <u>Case Study</u>: Team Class-Year Probability

Suppose that your group that you are currently working with and the <a href="http://courses.las.illinois.edu/fall2022/stat207/staff.html">six undergraduate course assistants</a> in this class decide to join forces and create a SUPER GROUP of 7-9 people.

In this group assignment, we will calculate the probability of randomly selecting a group that has the same class-year composition that your super group has.


## <u>Relevant Information</u>:

### STAT207 Course Assistant Class Composition

Of our 6 course assistants: 2 are seniors, 2 are juniors, and 2 are sophomores.

### Total STAT207 Undergraduate Class Composition

This STAT207 class has 85 total undergraduates affiliated with it *(including both students AND course assistants)*
* 3 are freshmen
* 27 are sophomores
* 31 are juniors
* 24 are seniors



<hr>

### Imports

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set
from math import comb

## Contribution Report
These contribution reports should be included in all group lab assignments. In this contribution report below you should list of the following:
1. Names of each team member.
2. Contributions of each team member to report.

*For example:*

*<u>Teammates:</u>*

*1. John Smith: did number 1,2 and 3*

*2. Jane Doe: did number 4, and 5*

Sabir Rahman, Rohan Bindu, Vahey Mouradian, Vikram Chandramouli

<hr>

## 1. Super Group Composition [0.25 pt]

* How many freshmen are in your supergroup?
* How many sophomores are in your supergroup?
* How many juniors are in your supergroup?
* How many seniors are in your supergroup?




Modify the LaTeX code block below, inputting the corresponding numbers. LaTeX can be written in between dollar signs. So make sure your number is in between the two dollar signs.

$k_{fresh}= 0$ 

$k_{soph}= 4$ 

$k_{jun}= 3$ 

$k_{sen}= 3$



## 2. Supergroup Composition Theoretical Probability [2.25 pt]

* Suppose we were to randomly select $k$ undergraduates affiliated with this class **without replacement** (this could include students and/or course assistants), where $k$ is the size of your SUPERGROUP. 
* The **order** in which we selected the $k$ undergraduates in this group **didn't matter**. 
* Nor are there any specific "patterns" or "allocations" to any particular person in this group.

**What is the probability that this randomly selected group of $k$ undergraduates has the same number of freshmen, sophomores, juniors, and seniors that your SUPERGROUP does?**

* <u>Hint 1</u>: How many groups of size $k$ could you create from the 85 undergraduates affiliated with the class?
* <u>Hint 2 (if you have freshmen in your supergroup)</u>: How many groups of size $k_{fresh}$ could you create from the 3 freshmen affiliated with the class?
* <u>Hint 3 (if you have sophomores in your supergroup)</u>: How many groups of size $k_{soph}$ could you create from the 27 sophomores affiliated with the class?
* <u>Hint 4 (if you have a juniors in your supergroup)</u>: How many groups of size $k_{jun}$ could you create from the 31 juniors affiliated with the class?
* <u>Hint 5 (if you have a seniors in your supergroup)</u>: How many groups of size $k_{sen}$ could you create from the 24 seniors affiliated with the class?

In [4]:
denominator = comb(85,10)
denominator

3129162672636

In [5]:
numFreshman = comb(3,0)
numFreshman

1

In [6]:
numSophmore = comb(27,4)
numSophmore

17550

In [7]:
numJunior = comb(31,3)
numJunior

4495

In [8]:
numSenior = comb(24,3)
numSenior

2024

In [9]:
(numFreshman * numSophmore * numJunior * numSenior) / denominator

0.05102572499546538

## 3. [2.25 pt] Supergroup Composition Approximated Probability

Next, design a simulation that will *approximate* the probability of randomly selecting a group of $k$ undergraduates affiliated with the class (without replacement) that has the same number of freshmen, sophomores, juniors, and seniors that your SUPERGROUP does.

Your simulation should include 5000 trials (ie. you should simulate this random experiment of sampling $k$ students affiliated with the class 5000 times).

*Hint: You may find the dataframe constructed below useful in your simulation.*

*Hint: You may also find it useful to create a function that checks whether a given sample has the class-year composition that matches your supergroup.*

In [10]:
import numpy as np
import pandas as pd
class_list = list(np.repeat('freshmen', 3)) + list(np.repeat('sophomore', 27))+list(np.repeat('junior', 31))+list(np.repeat('senior', 24))
print(class_list)

df = pd.DataFrame({'year': class_list})
df

['freshmen', 'freshmen', 'freshmen', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'sophomore', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'junior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior', 'senior']

         year
0    freshmen
1    freshmen
2    freshmen
3   sophomore
4   sophomore
..        ...
80     senior
81     senior
82     senior
83     senior
84     senior

[85 rows x 1 columns]

In [45]:
def check(df):
    f = df[df['year'] == 'freshman'].shape[0]
    s = df[df['year'] == 'sophomore'].shape[0]
    j = df[df['year'] == 'junior'].shape[0]
    se = df[df['year'] == 'senior'].shape[0]
    if (f == 0 and s == 4 and j == 3 and se == 3):
        return True
    return False

In [46]:
count = 0
for i in range(5000):
    sample = df.sample(10, replace=False)
    if check(sample):
        count += 1
print(count/5000)

0.0544

## 4. [0.25 pt] Approximated and Theoretical Probability Comparison

How close are your approximated probability from #3 and your theoretical probability from #2?